<a href="https://colab.research.google.com/github/silvia-j-escobar/Amazon-Operational-Strategy-People-Analytics-Externship/blob/main/P3_S1_4_Clean_Glassdoor_Dataset_for_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import pandas
import pandas as pd

In [2]:
# Load the dataset
data= pd.read_csv('/content/glassdoor_cleaned_v2.csv')

In [3]:
# Preview the data
print(data.head())

   employee_length employee_status                       employee_type  \
0                0         REGULAR                    Current employee
1                1        CONTRACT  Current employee, less than 1 year
2                1         REGULAR  Current employee, less than 1 year
3                2       PART_TIME                   Current employees
4                0         REGULAR                    Current employee

  flags_business_outlook flags_ceo_approval flags_recommend_frend  \
0                    NaN                NaN                   NaN
1               POSITIVE            APPROVE              POSITIVE
2               POSITIVE            APPROVE              POSITIVE
3               POSITIVE            APPROVE              POSITIVE
4                    NaN                NaN                   NaN

   rating_culture_values  rating_diversity_inclusion  rating_overall  \
0                      0                           0               3
1                      5                           5               4
2                      5                           5               5
3                      2                           2               3
4                      0                           0               4

   rating_work_life  ... review_advice career_opportunities_rating  \
0                 0  ...           NaN                         NaN
1                 3  ...           NaN                         NaN
2                 5  ...           NaN                         NaN
3                 2  ...           NaN                         NaN
4                 0  ...           NaN                         NaN

   employee_location               employee_job_title  \
0       Richmond, VA  Warehouse Fulfillment Associate
1       Brampton, ON              Warehouse Associate
2         Bolton, ON              Warehouse Associate
3     Swedesboro, NJ                         Employee
4         Whitby, ON            Fulfillment Associate

                         advice_to_management  \
0                          donâ€™t micro manage
1  Remove all attitude manager from warehouse
2                                         NaN
3                                         NaN
4                                         NaN

                                         review_pros  \
0  not interactive \ncan leave or take off whenev...
1                      good and easy work enviorment
2                          help to grow , good pay ,
3                    Plenty of work\nMeet new people
4  Good Holiday pay \nAdditional benefits for per...

                                         review_cons  \
0      inhumane \ndraining physically &amp; mentally
1  Sticks rules and completing targets any how, o...
2  limited opportunities for advancement,No clear...
3                 Tough on the body\nLabor intensive
4            Not hiring permanent employees directly

  rating_compensation_benefits  rating_senior_leadership  \
0                            0                         0
1                            5                         3
2                            5                         5
3                            2                         2
4                            0                         0

   rating_career_opportunities
0                            0
1                            5
2                            5
3                            3
4                            0

[5 rows x 21 columns]

In [4]:
# Get info about the columns
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   employee_length               141 non-null    int64
 1   employee_status               139 non-null    object
 2   employee_type                 141 non-null    object
 3   flags_business_outlook        71 non-null     object
 4   flags_ceo_approval            72 non-null     object
 5   flags_recommend_frend         85 non-null     object
 6   rating_culture_values         141 non-null    int64
 7   rating_diversity_inclusion    141 non-null    int64
 8   rating_overall                141 non-null    int64
 9   rating_work_life              141 non-null    int64
 10  summary                       141 non-null    object
 11  review_advice                 2 non-null      object
 12  career_opportunities_rating   16 non-null     float64
 13  employee_location             129 non-null    object
 14  employee_job_title            135 non-null    object
 15  advice_to_management          45 non-null     object
 16  review_pros                   141 non-null    object
 17  review_cons                   141 non-null    object
 18  rating_compensation_benefits  141 non-null    int64
 19  rating_senior_leadership      141 non-null    int64
 20  rating_career_opportunities   141 non-null    int64
dtypes: float64(1), int64(8), object(12)
memory usage: 23.3+ KB
None

In [5]:
# Check number of rows and columns
print(data.shape)

(141, 21)

In [6]:
# Get statistical summary of numeric columns
print(data.describe())

       employee_length  rating_culture_values  rating_diversity_inclusion  \
count       141.000000             141.000000                  141.000000
mean          1.602837               2.106383                    2.439716
std           2.273699               1.888696                    2.029668
min           0.000000               0.000000                    0.000000
25%           0.000000               0.000000                    0.000000
50%           1.000000               2.000000                    3.000000
75%           2.000000               4.000000                    4.000000
max          20.000000               5.000000                    5.000000

       rating_overall  rating_work_life  career_opportunities_rating  \
count      141.000000        141.000000                    16.000000
mean         3.198582          2.014184                     2.000000
std          1.384712          1.824382                     0.966092
min          1.000000          0.000000                     0.000000
25%          2.000000          0.000000                     1.000000
50%          3.000000          1.000000                     2.000000
75%          4.000000          4.000000                     3.000000
max          5.000000          5.000000                     3.000000

       rating_compensation_benefits  rating_senior_leadership  \
count                    141.000000                141.000000
mean                       2.560284                  1.950355
std                        1.939694                  1.817873
min                        0.000000                  0.000000
25%                        0.000000                  0.000000
50%                        3.000000                  1.000000
75%                        4.000000                  3.000000
max                        5.000000                  5.000000

       rating_career_opportunities
count                   141.000000
mean                      2.248227
std                       1.825048
min                       0.000000
25%                       0.000000
50%                       2.000000
75%                       4.000000
max                       5.000000

In [20]:
# Import libraries
import nltk
import string
from nltk.corpus import stopwords
nltk.download('stopwords')

def clean_text(text):
    if pd.isnull(text):
        return ""
    tokens = text.lower().translate(str.maketrans('', '', string.punctuation)).split()
    return ' '.join([word for word in tokens if word not in stopwords.words('english')])

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [21]:
# Libraries
import re
from nltk.corpus import stopwords
import nltk
import pandas as pd

nltk.download('stopwords')

stop_words = set(stopwords.words('english'))

def clean_text(text):
    if pd.isnull(text):
        return ""
    text = str(text).lower()
    text = re.sub(r'[^a-z\s]', '', text)   # remove punctuation & numbers
    words = text.split()
    words = [word for word in words if word not in stop_words]
    return " ".join(words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
# Create cleaned columns
data["summary_cleaned"] = data["summary"].apply(clean_text)
data["advice_to_management_cleaned"] = data["advice_to_management"].apply(clean_text)
data["review_pros_cleaned"] = data["review_pros"].apply(clean_text)
data["review_cons_cleaned"] = data["review_cons"].apply(clean_text)

In [14]:
# Compare original vs cleaned text
data[[
    "summary", "summary_cleaned",
    "review_pros", "review_pros_cleaned"
]].head()

,summary,summary_cleaned,review_pros,review_pros_cleaned
0,Amazon,amazon,not interactive \ncan leave or take off whenev...,interactive leave take whenever long time easy...
1,Good,good,good and easy work enviorment,good easy work enviorment
2,Good experience,good experience,"help to grow , good pay ,",help grow good pay
3,Dhdh,dhdh,Plenty of work\nMeet new people,plenty work meet new people
4,Good Pay rate,good pay rate,Good Holiday pay \nAdditional benefits for per...,good holiday pay additional benefits permanent...

In [18]:
# Decide what columns to keep
df_final = data[[
    "summary_cleaned",
    "advice_to_management_cleaned",
    "review_pros_cleaned",
    "review_cons_cleaned"
]]

In [19]:
# save the final clean dataset
df_final.to_csv("glassdoor_cleaned_text.csv", index=False)